body, html{
    width: 1440px;
    height: 1024px;
    margin: 0;
    padding: 0;
    height: 100%;
}
.main{
    width: 1440px;
    height: 1024px;
    position: relative;
    background-image: url("/assets/images/fondo.jpg");
}
.cabalo{
    position: absolute;
    margin-left: 416px;
}
.frame1{
    position: absolute;
    width: 724px;
    height: 518px;
    background-color: rgb(0, 0, 0);
    margin-left: 65px;
    margin-top: 200px;
    border-radius: 24px;
    opacity: 40%;
}
.frame2{
    position: absolute;
    width: 1312px;
    height: 171px;
    background-color: rgb(0, 0, 0);
    margin-left: 65px;
    margin-top: 800px;
    border-radius: 24px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    opacity: 40%;
}
.boton{
    position: absolute;
    width: 182px;
    height: 66px;
    margin-left: 120px;
    margin-top: 620px;
    background-color: #63E1E1;
    border-radius: 36px;
}
.bloques{
    position: absolute;
    margin-left: 125px;
    margin-top: 270px;
}
.cosito1{
    position: absolute;
    margin-top: 830px;
    margin-left: 120px;
}
.cosito2{
    position: absolute;
    margin-top: 830px;
    margin-left: 440px;
}
.cosito3{
    position: absolute;
    margin-top: 830px;
    margin-left: 760px;
}
.cosito4{
    position: absolute;
    margin-top: 830px;
    margin-left: 1080px;
}
